{{ define "app" }}
<div class="flex flex-col" x-data="{ activeTab:  0 }">
    <div class="flex justify-between w-full">
        <label @click="activeTab = 0">Home</label>
        <label @click="activeTab = 1">Playlists</label>
        <label @click="activeTab = 2">Search</label>
    </div>
    <div x-show="activeTab === 0">
        <p>Get a feed with a video link</p>
        <form
            hx-post="/video"
            hx-target="next .error"
            hx-on::after-request="if(event.detail.successful) this.reset()"
        >
            <label for="video-url"></label>
            <input
                id="video-url"
                type="url"
                name="video-url"
                placeholder="https://www.youtube.com/watch?v=..."
                required
            />
            <button type="submit">Find RSS</button>
        </form>
        <span id="video-results" class="error"></span>
    </div>
    <div x-show="activeTab === 1">
        <p>Generate rss feeds from playlists</p>
        <input type="url" name="playlist-feeds" id="" />
    </div>
    <div x-show="activeTab === 2">
        <p>Search for found feeds</p>
        <input type="text" name="search-feeds" id="" />
    </div>
</div>
{{ end }}
