{{ define "app" }}
<div>
    <div class="row flex-center">
        <h2 style="text-align: center">Youtube RSS Feeds</h2>
    </div>
    <div>
        <form
            hx-post="/video"
            hx-target="next .error"
            hx-on::after-request="if(event.detail.successful) this.reset()"
            class="form-group sm-8 row flex-center"
        >
            <label for="video-url">Get a RSS feed with a video link</label>
            <input
                id="video-url"
                type="url"
                name="video-url"
                placeholder="https://www.youtube.com/watch?v=..."
                required
                class="input-block"
            />
            <button type="submit" class="btn-block">Find RSS</button>
        </form>
        <span id="video-results" class="error"></span>
    </div>
</div>
{{ end }}
