{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- paper.css -->
        {{ template "paper.css" }}
        <!-- alpine -->
        {{ template "alpine" }}
        <!-- htmx -->
        {{ template "htmx" }}
        <title>YT-RSS</title>
    </head>
    <body hx-boost="true" class="paper container margin-top border border-5">
        <main>{{ template "app" }}</main>
    </body>
</html>
{{ end }}
