{{ define "unocss" }}
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
{{ end}}

{{ define "htmx" }}
    <script
        src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
        crossorigin="anonymous"
    /></script>
{{ end }}

{{ define "alpine.js" }}
  <script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js" defer></script>
  <script src="//unpkg.com/alpinejs" defer></script>
{{ end }}